h2, h3, h4, h5 {
    margin-top: .5rem;
}

label {
    margin-top: .5rem;
    margin-bottom: .3rem;
}

.jumbotron {
    padding: 1rem 2rem;
}

.text-center, .pane h3 {
    text-align: center;
}

#results {
    height: 250px;
}

#simulate-button {
    width: 89px;
}


.pane {
    padding-bottom: 12px;
    /* border-bottom: 1px solid lightgray; */
}

.pane-left {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.pane-right {

    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#simulate-button {
    margin-top: 12px;
    margin-bottom: 12px;
}

#download-button {
    margin-bottom: 12px;
}

#results-heading {
    /* text-decoration: underline lightgray;*/
    margin-top: 16px;
    margin-bottom: 16px;
}

#mapcontainer {
    padding-top: 12px;
}

.mapael .mapTooltip {
    position: absolute;
    background-color: pink;
    moz-opacity: 0.90;
    opacity: 0.90;
    filter: alpha(opacity=90);
    border-radius: 4px;
    padding: 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: #232323;
}

.area {
    fill: lightgray;
}

.no-infections {
    fill: white;
}

.low-infection-rate {
    fill: lightyellow;
}

.moderate-infection-rate {
    fill: #ffe6e6;
}

.serious-infection-rate {
    fill: #ff8080;
}

.very-serious-infection-rate {
    fill: red;
}

.extremely-serious-infection-rate {
    fill: darkred;
}

.legend-text {
    font-size: 10px;
}

footer {
    margin-top: 20px;
    padding: 20px;
    background-color: lightgray;
}
